.form {
    width: 70%;
    position: relative;
    margin: $centered-margin;
    padding: 5rem;

    background-color: $clear-color;
    color: $police-color;

    box-shadow: $shadow;
    border-radius: $small-radius;

    text-align: center;

    @media screen and (max-width: $break-small) {
      width: 85%
    }

    @media screen and (max-width: $break-small) {
      width: 90%;
      padding: 5rem 2rem;
    }

    // a {
    //   color: $success-color;
    //   text-decoration: none;
      
    //   &:hover {
    //     color: darken($color: $success-color, $amount: 10);
    //     text-decoration: underline;
    //   }
    // }

    &__title {
      text-align: center;
    }
  
    &__group {
      position: relative;
      margin: 1rem 0 3rem 0;
      padding: 1.5rem 0 0;
    }
  
    &__label {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      // padding-bottom: 1rem;
      background-color: $clear-color;
      text-align: left;
      transition: 0.2s;
    }
  
    &__field {
      width: 100%;
      padding: 1rem 0;

      background: transparent;
      color: $police-color;

      border: 0;
      border-bottom: 0.2rem solid $police-color;
      outline: 0;

      font-size: 1.8rem;

      transition: border-color 0.2s;
  
      &::placeholder {
        color: transparent;
      }
  
      &:placeholder-shown ~ .form__label {
        top: 2rem;
        cursor: text;
      }
  
      &:required,
      &:invalid { 
        box-shadow:none;
      }
      
      &:focus {
        padding-bottom: 1rem;  
        border-image: linear-gradient(to right, $success-color,$base-color);
        border-image-slice: 1;

        ~ .form__label {
          display: block;
          position: absolute;
          top: 0;
          color: $success-color;
          transition: 0.2s;
        }
      }
    }
  }

// .global-btn {
//   display: block;
//   margin: $centered-margin;
//   padding: 1.5rem 4rem;

//   background-color: $success-color;
//   color: $clear-color;

//   border: none;
//   border-radius: $medium-radius;

//   font-size: 1.9rem;
//   text-align: center;
//   text-transform: uppercase;
//   text-decoration: none;

//   cursor: pointer;
//   transition: all .2s;

//   &:hover {
//     transform: translateY(-0.3rem);
//   }

//   &:active {
//     transform: translateY(-0.1rem);
//     box-shadow: $shadow;
//   }
// }

.options {
  position: relative;

  &__dots {
    width: 3.5rem;
    height: 3.5rem;
    @include flexbox(center, row, center);
    margin: 0 1.5rem;

    color: inherit;
    border-radius: $round-radius;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow;
    }

    &--active {
      box-shadow: $shadow;
    }
  }

  &__dropdown {
    // @include flexbox(flex-start, column, flex-start);

    width: 35rem;
    position: absolute;
    left: -16.5rem;
    top: 4rem;
    padding: $base-padding;

    background-color: $clear-color;

    box-shadow: $shadow;
    border-radius: $small-radius;
    border-radius: $small-radius;

    z-index: 1;
  }
  
  // &__button {
  //   @include flexbox(flex-start, row, center);
  //   margin: $marged-centered-margin;

  //   background-color: transparent;
  //   color: $police-color;

  //   border: none;

  //   font-size: 1.8rem;
  //   font-family: inherit;
  //   font-weight: inherit;

  //   cursor: pointer;

  //   &:hover{
  //     color: darken($color: $police-color, $amount: 10);
  //   }

  //   svg {
  //     margin-right: 1rem;
  //   }
  // }
}

// .close-cross {
//   position: absolute;
//   right: 0;
//   top: 0;
//   margin: 0;
//   margin: 0.5rem;
//   padding: 0;
//   cursor: pointer;

//   &:hover {
//     color: darken($color: $police-color, $amount: 10)
//   }
// }

.popupform {
  width: 100%;
  height: 100%;
  @include flexbox(center, column, center);
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgb(10, 23, 52, 0.6);
  // transform: translate(-50%, -50%);
  z-index: 2;

  &__form {
    background-color: $clear-color;
  }
}

.container {
  max-width: 110rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 4rem;
  padding-left: 4rem;
  
  @media screen and (max-width: $break-tablet) {
    // max-width: 95%;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media screen and (max-width: $break-small) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}