$groupomania-red: rgb(196, 58, 72);
$groupomania-font-blue: rgb(10, 23, 52);
$groupomania-blue: rgb(15, 27, 50);
$groupomania-police: white;
$groupomania-background: white;
$groupomania-back-grey: rgb(202, 202, 202);
$groupomania-light-grey: rgb(158, 158, 158);
$groupomania-medium-grey: rgb(64, 68, 71);
$groupomania-dark-grey: rgb(54, 57, 59);
